{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% comment %} <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Admin Management Portal</h2>
        <button class="btn btn-success"><i class="fas fa-plus"></i> Add New Service</button>
    </div> {% endcomment %}
    <a href="{% url 'add_service' %}" class="btn btn-success">
        <i class="fas fa-plus"></i> Add New Service
    </a>

    <div class="card shadow-sm border-0">
        <div class="card-body">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <!--<th>ID</th>-->
                        <th>Category</th>
                        <th>Title</th>
                        <th>City</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr>
                        <!--<td>#{{ service.id }}</td>-->
                        <td><span class="badge bg-info">{{ service.category.name }}</span></td>
                        <td>{{ service.title }}</td>
                        <td>{{ service.destination.city }}</td>
                        <td class="fw-bold">₹{{ service.price }}</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_service' service.id %}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Delete this service?')">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}